<p>Always Differentiating is a Fantasy Premier League league, where the main rule is: you're not allowed to pick the most popular FPL players.</p>
<p>Initially, this was tricky, because every week, each team in the league needed to be manually checked for 'illegal' players.</p>
<p>What this site does is:</p>
<ul>
  <li><strong>Grabs a list of the illegal players:</strong> Each gameweek, a definitive list of the illegal players is pulled from the FPL API. We do this because the numbers constantly change and shift, and we want all managers to be working from the same data. The list is pulled 24 hours before the FPL deadline. This is because we have managers in West Coast USA and managers in Australia, so this way nobody can be caught out by numbers shifting in the middle of the night.</li>
  <li><strong>Logs and tracks penalties:</strong> If a manager fails to transfer an illegal player, or transfers an illegal player in, they incur a points penalty. The site shows any penalties incurred after the FPL deadline and tracks them in a points table.</li>
  <li><strong>Shows transfers for the gameweek:</strong> Under the 'transfers' tab, you can see who a manager has transferred in/out for the gameweek. This was to provide an extra level of visibility (mainly in the early stages when I wanted to make sure my code was running properly!)</li>
</ul>
<p>I created this page to help us run the league, but also to help me practice my skills as a software engineer. I actually presented this site in a job interview in April 2024, and as a result I am now working my dream job!</p>
<p>It costs me about £4 a month to run this site, which I am happy to pay. But if you'd like to say thanks, <a href="https://ko-fi.com/crudengold">you can buy me a coffee</a>, that would be super kind of you :)</p>
<p>You can read the rules for the league and provide feedback on this site <%= link_to 'on this page', rules_path %></p>
