<% positions = ["ignore", "GKs", "Defs", "Mids", "Fwds"] %>
<div class="row m-1">
  <% (1..4).each do |i| %>
    <div class="players column col-xs-6 col-sm-3 m-0">
      <h4><strong><%= positions[i] %></strong></h4>
      <%= render 'position', position: i, percentage: percentage, illegal_players: illegal_players %>
    </div>
  <% end %>
</div>
