<div style="margin-top: 24px">
  <div class="m-0 p-0" id="penalties">
    <%= render 'latest_confirmed_penalties', penalties: penalties, illegal_players: illegal_players, penalty_players: penalty_players, gameweek: gameweek - 1 %>
  </div>
  <div id="test-countdown">
    <%= render 'countdown', deadline: @deadline, deadline_minus_one: @deadline_minus_one, gameweek: gameweek %>
  </div>
</div>
