<div style="margin-top: 24px">
  <div class="m-0 p-0" id="penalties">
    <%= render 'latest_confirmed_penalties', penalties:, gameweek: current_gw %>
  </div>
  <div class="m-0 p-0" id="changes">
    <% if illegal_players.any? %>
      <%= render 'screenshot_changes', screenshot_changes:, gameweek: next_gw, newly_fifteen_percent: %>
    <% else %>
      <%= render 'screenshot_changes', screenshot_changes:, gameweek: current_gw, newly_fifteen_percent: %>
    <% end %>
  </div>
  <div id="test-countdown">
    <%= render 'countdown', deadline: @next_deadline, deadline_minus_one: @next_deadline_minus_one, gameweek: next_gw %>
  </div>
</div>
