<% if illegal_players.any? %>
  <div style="margin-top: 10px">
    <ul class="list-inline tabs-underlined justify-content-center" style="text-align: center">
      <li>
        <a href="#" class="tab-underlined active" data-action="tabs#changeTab" data-tabs-target="tab" data-tab="1">Screenshot</a>
      </li>
      <li>
        <a href="#" class="tab-underlined" data-action="tabs#changeTab" data-tabs-target="tab" data-tab="2">Table</a>
      </li>
      <li>
        <a href="#" class="tab-underlined" data-action="tabs#changeTab" data-tabs-target="tab" data-tab="3">Transfers</a>
      </li>
    </ul>
  </div>
<% else %>
  <div style="margin-top: 10px">
    <ul class="list-inline tabs-underlined justify-content-center" style="text-align: center">
      <li>
        <a href="#" class="tab-underlined active" data-action="tabs#changeTab" data-tabs-target="tab" data-tab="2">Table</a>
      </li>
      <li>
        <a href="#" class="tab-underlined" data-action="tabs#changeTab" data-tabs-target="tab" data-tab="1">Screenshot</a>
      </li>
      <li>
        <a href="#" class="tab-underlined" data-action="tabs#changeTab" data-tabs-target="tab" data-tab="3">Transfers</a>
      </li>
    </ul>
  </div>
<% end %>
