.banner {
  width: 100%;
  min-width: auto;
  text-align: center;
  background: #254D32;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  text-shadow: 2px 2px black;
}
