#countdown {
  font-size: 24px;  /* Adjust the font size as needed */
  background-color: #254D32; /* Green background color */
  color: #fff; /* White text color */
  padding: 15px; /* Add some padding for better visual appearance */
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px
}
