.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 5px;
}
