
.penalty-card {
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #F3DF60;
}

#no-warnings {
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #69B578;
}

.confirmed-penalty-card {
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #d15416;
}
