@media (max-width: 767px) {
  #table th,
  #table td {
    overflow: auto;
    max-width: 75%;
    font-size: 70%
  }

  #table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  #table td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none; /* Remove left border for each td */
  }

  .players {
    width: 50%;
  }

  .tabs-underlined .tab-underlined {
    font-size: 80%;
  }
}
